<h1>Dogs#index</h1>
<table>
  <tr>
    <th>Dog Name</th>
    <th>Owner</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
  <%= render @dogs %>
</table></br>

<%= link_to "New Dog", new_dog_path %>