<h2>Dogs' census of the "Asociación Española para el Fomento de la Raza Bulldog Francés"</h2>
<table class="table table-hover table-striped">
  <tr>
    <th>Photo</th>
    <th>Name</th>
    <th>Owner</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
  <%= render @dogs %>
</table></br>

<%# if can? :new, Dog  %>
<%= link_to "New Dog", new_dog_path, class: "glyphicon glyphicon-plus link" %>
<%# end %>