<h2 class="title">Provisional Dogs' Ranking</h2>

<table class="table table-hover table-striped">
  <tr>
    <th>Points</th>
    <th>Photo</th>
    <th>Name</th>
    <th>Sex</th>
  </tr>
  <% @points.each do |k,v| %>
    <tr>
        <td><%= v[0] %></td>
        <td><%= image_tag(v[1], class: "imageDog img-rounded") %></td>
        <td><%= k %></td>
        <td><%= v[2] %></td>
    </tr>
  <% end %>
</table>

<!--<%# if can? :new, Dog  %>-->
<!--<%#= link_to "New Dog", new_dog_path, class: "glyphicon glyphicon-plus link" %>-->
<%# end %>