<h2 class="title">Exhibitions</h2>

<table class="table table-hover table-striped">
  <tr>
    <th>Name</th>
    <th>Date</th>
    <% if current_user.try(:admin?) %>
        <th></th>
        <th></th>
    <% end %>
  </tr>
  <%= render @exhibitions %>
</table></br>

<% if  current_user.try(:admin?) %>
  <%= link_to("New Exhibition", new_exhibition_path, class: "glyphicon glyphicon-plus link") %>
<% end %>