<h2>Exhibitions</h2>

<table class="table table-hover table-striped">
  <tr>
    <th>Name</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
  <%= render @exhibitions %>
</table></br>

<%= link_to("New Exhibition", new_exhibition_path, class: "glyphicon glyphicon-plus") %>