<h2>Users#index</h2>
<p>Find me in app/views/users/index.html.erb</p>
<table>
  <tr>
    <th>User Name</th>
  </tr>
  <%= render @users %>
  <%= link_to("New User", new_admin_user_path) %>
</table></br>