<h2><%= @user.email %></h2>
<tr>
<% @userdogs.each do |dogs| %>
    <td><%= dogs.name %></td>
<% end %>
</tr>

<table width="20%" border="1" cellspacing="1">
  <tr>
    <th>Sex</th>
    <th>Titles</th>
    <th>Birth Date</th>
  </tr>
  <tr>
    <td></td>
    <td></td>
    <td></td>
  </tr>
</table>