<h2 class="title">My dogs' results</h2>
<table class="table table-hover table-striped">
  <tr>
    <th>Exhibition</th>
    <th>Award</th>
    <th>Dog</th>
    <th>Status</th>
    <th></th>
    <% if can? :destroy, Result %>
      <th></th>
    <% end %>
  </tr>
  <%= render @results %>
</table></br>
<% if can? :new, Result %>
  <%= link_to("New Result", new_result_path, class: "glyphicon glyphicon-plus link") %>
<% end %>