<h2>Resultados de mis perros</h2>
<table class="table table-hover table-striped">
  <tr>
    <th>Exposición</th>
    <th>Premio</th>
    <th>Perro</th>
    <th>Estado</th>
    <th></th>
    <th></th>
  </tr>
  <%= render @results %>
</table></br>
<%= link_to("New Result", new_result_path, class: "glyphicon glyphicon-plus link") %>