<h1>Results#show</h1>

<table width="20%" border="1" cellspacing="1">
  <tr>
    <th>Exhibition</th>
    <th>Award</th>
    <th>Dog</th>
    <th>Status</th>
  </tr>
  <tr>
    <td><%= @result.exhibition.name %></td>
    <td><%= @result.award.award %></td>
    <td><%= @result.dog.name %></td>
    <td><%= @result.status %></td>
  </tr>
</table>