===============================================<br/>
<h2>The user <%= @user.email %> has created a dog's result.</h2>

You can validate or reject in the following link:<br/>

<%= link_to "Editing the result", @url %>
===============================================