===============================================<br/>
<h2>The result has been modified</h2>
In the following link you can see if the administrator has validated or has rejected the result sent by <%= @user.email %>: <br/>

<%= @url %>
===============================================