// Place all the styles related to the dogs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.textDog{
  margin-left: -35px;
  margin-top: 42px;
}

.editDog{
  margin-left: 130px;
  margin-bottom: 20px;
}

.imgDog {
  position:relative;
  overflow:visible;
  border: 4px 4px 4px;
  width: 300px;
  min-height:250px;
  max-height: 300px;
  margin-top: 40px;
  margin-bottom:20px;
  margin-left:30px;
  -webkit-transition: -webkit-transform 0.5s ease-in-out;
  -moz-transition: -moz-transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out;
}
.imgDog:hover {
  position:relative;
  overflow:visible;
  transform: scale(1,1.05) skew(5deg, -5deg) translate(-5px,-5px);
  -webkit-transform: scale(1,1.05) skew(5deg, -5deg) translate(-5px,-5px);
  -moz-transform: scale(1,1.05) skew(5deg, -5deg) translate(-5px,-5px);
  -webkit-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.5);
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.5);
}


ul{
  list-style: none;
}

li{
  margin-top: 10px;
}

.card{
  border: 3px solid #DDD;
  background-color: #F0FFFF;
  margin-top: 4%;
}

.footprint{
  width: 180px;
  margin-top: 25%;
  margin-left: 4%;
}

.fields{
  margin-right: 2%;
}

.information{
  font-family: Curlz MT;
}

