<h2 class="title">Users management</h2>

<table class="table table-hover table-striped">
  <tr>
    <th>Photo</th>
    <th>User Name</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
  <%= render @users %>
</table></br>
<%= link_to("New User", new_admin_user_path, class: "glyphicon glyphicon-user link") %>